@page
@model com.wechat.gorilla.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
    string deptid = Request.Query["deptid"];
}

<h1>@Model.User.User_name / @Model.User.Department.Dept_name</h1>
<div class="transprantBackground">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" asp-page="/Projects/Details" asp-route-id="@deptid" asp-route-type="1">Back to List</a>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="User.Id" />
                <div class="form-group">
                    <label asp-for="User.User_name" class="control-label"></label>
                    <input asp-for="User.User_name" class="form-control" />
                    <span asp-validation-for="User.User_name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.User_account" class="control-label"></label>
                    <input asp-for="User.User_account" class="form-control" />
                    <span asp-validation-for="User.User_account" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="User.User_type" class="control-label"></label>
                    <input asp-for="User.User_type" class="form-control" />
                    <span asp-validation-for="User.User_type" class="text-danger"></span>
                </div>*@
                @*<div class="form-group">
            <label asp-for="User.Projectid" class="control-label"></label>
            <input asp-for="User.Projectid" class="form-control" />
            <span asp-validation-for="User.Projectid" class="text-danger"></span>
        </div>*@
                <div class="form-group">
                    <label asp-for="User.Departmentid" class="control-label"></label>
                    <input asp-for="User.Department.Dept_name" class="form-control" />
                    <span asp-validation-for="User.Departmentid" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.wx_unique_id" class="control-label"></label>
                    <input asp-for="User.wx_unique_id" class="form-control" />
                    <span asp-validation-for="User.wx_unique_id" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label asp-for="User.Roleid" class="control-label"></label>
            <input asp-for="User.Roleid" class="form-control" />
            <span asp-validation-for="User.Roleid" class="text-danger"></span>
        </div>*@
                @*<div class="form-group">
            <label asp-for="User.User_password" class="control-label"></label>
            <input asp-for="User.User_password" class="form-control" />
            <span asp-validation-for="User.User_password" class="text-danger"></span>
        </div>*@
                @*<div class="form-group">
            <label asp-for="User.Login_time" class="control-label"></label>
            <input asp-for="User.Login_time" class="form-control" />
            <span asp-validation-for="User.Login_time" class="text-danger"></span>
        </div>*@
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
