@page
@model com.wechat.gorilla.Pages.Projects.CreateModel

@{
    ViewData["Title"] = "Create";
}

@*<h1 class="text-shadow"></h1>*@

<div class="transprantBackground">
    <p class="page_title">新建项目</p>
    <form id="submitForm" method="post" autocomplete="off">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Project.Project_name" class="control-label"></label>
                    <input asp-for="Project.Project_name" class="form-control" />
                    <span asp-validation-for="Project.Project_name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Project.Short_name" class="control-label"></label>
                    <input asp-for="Project.Short_name" class="form-control" />
                    <span asp-validation-for="Project.Short_name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Project.Current_progress" class="control-label"></label>
                    <select class="form-control" asp-for="Project.Current_progress">
                        <option>待签</option>
                        <option>实施</option>
                        <option>售后</option>
                    </select>
                    <span asp-validation-for="Project.Current_progress" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Project.Project_imple" class="control-label"></label>
                    <input asp-for="Project.Project_imple" class="form-control" />
                    <span asp-validation-for="Project.Project_imple" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Project.Sign_date" class="control-label"></label>
                    <input asp-for="Project.Sign_date" class="form-control" />
                    <span asp-validation-for="Project.Sign_date" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Project.Provinceid"></label>
                    <select id="itemProvince" class="custom-select" asp-for="Project.Provinceid" onchange="OnProvinceChanged(this.value);">
                        @foreach (var item in Model.Provinces) {
                            <option value="@Html.Raw(item.Id)">@Html.DisplayFor(modelItem => item.Province_name)</option>
                        }
                    </select>
                    <span asp-validation-for="Project.Provinceid" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Project.Cityid"></label>
                    <select id="itemCity" class="custom-select" asp-for="Project.Cityid">
                        @*@foreach (var item in Model.Citys) {
                                <option value="@Html.Raw(item.Id)">@Html.DisplayFor(modelItem => item.City_name)</option>
                            }*@
                    </select>
                    <span asp-validation-for="Project.Cityid" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Project.Address" class="control-label"></label>
                    <input asp-for="Project.Address" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Project.Address" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Project.Phone" class="control-label"></label>
                    <input asp-for="Project.Phone" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Project.Phone" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a class="btn btn-success" asp-area="" onclick="window.history.go(-1); return false;">Cancel</a>
                </div>
            </div>
        </div>
    </form>

    @*<div>
            <a asp-page="/Index">Back to Index</a>
        </div>*@
    <br />
</div>
    <script>
        function AppLoad() {
            var province_id = $("#itemProvince").val();
            if (province_id != null && province_id != "") {
                OnProvinceChanged(province_id);
            }
        }
        onload = AppLoad();
        function OnProvinceChanged(value) {
            var argu = "province_id:" + value;
            $.ajax({
                type: "get",
                contentType: "application/json;charset=UTF-8",
                url: "/api/City",
                data: { 'province_id': value },
                success: function (result) {
                    console.log(result);
                    var item = $("#itemCity");

                    $("#itemCity option").remove();

                    var cityList = eval(result);
                    $.each(cityList, function (key, value) {
                        var newItem = new Option(value.city_name, value.id);
                        item[0].options.add(newItem);
                    });
                },
                error: function (e) {
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });
        }
    </script>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
