@page
@model com.wechat.gorilla.Pages.ChangePwdModel
@{
}
<h1>修改登录密码</h1>
<div class="transprantBackground" style="margin-right:13px;">
<h4>Security options</h4>
    <div class="row">
        <div class="col-md-4">
            <form method="post" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*< input type="hidden" asp-for="User.Id" />
                    <div class="form-group">
                        <label asp-for="User.User_account" class="control-label"></label>
                        <input asp-for="User.User_account" class="form-control" />
                        <span asp-validation-for="User.User_account" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.User_type" class="control-label"></label>
                        <input asp-for="User.User_type" class="form-control" />
                        <span asp-validation-for="User.User_type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Projectid" class="control-label"></label>
                        <input asp-for="User.Projectid" class="form-control" />
                        <span asp-validation-for="User.Projectid" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Departmentid" class="control-label"></label>
                        <input asp-for="User.Departmentid" class="form-control" />
                        <span asp-validation-for="User.Departmentid" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.wx_unique_id" class="control-label"></label>
                        <input asp-for="User.wx_unique_id" class="form-control" />
                        <span asp-validation-for="User.wx_unique_id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Roleid" class="control-label"></label>
                        <input asp-for="User.Roleid" class="form-control" />
                        <span asp-validation-for="User.Roleid" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.User_password" class="control-label"></label>
                        <input asp-for="User.User_password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Login_time" class="control-label"></label>
                        <input asp-for="User.Login_time" class="form-control" />
                        <span asp-validation-for="User.Login_time" class="text-danger"></span>
                    </div>*@

                <div class="form-group">
                    <label class="control-label">当前密码：</label>
                    <input class="form-control" asp-for="OldPassword" placeholder="请输入当前密码" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">新密码：</label>
                    <input class="form-control" asp-for="NewPassword" placeholder="请输入新密码" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-page="/Index" class="btn btn-warning">Cancel</a>
                </div>
            </form>
        </div>
    </div>

    <div>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
