@page
@model com.wechat.gorilla.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy 关于蓝鹰追溯CSSD在线管理系统";
}
<h1>@ViewData["Title"]</h1>

<p class="text-eee">Use this page to detail your site's privacy policy.</p>
<p class="text-eee"><b>版权所有</b>：<br />&copy;四川劳吉克信息技术有限公司</p>
<p class="text-eee"><b>功能说明</b>：<br />本系统主要实现对用户项目和组织结构的管理，以及实现内网用户向微信公众号信息的推送</p>
<p class="text-eee"><b>技术架构</b>：<br />Asp.net core.</p>
<p class="text-eee"><b>数据库</b>：<br />Mysql</p>
<p class="text-eee"><b>版本号</b>：<br />Release 0.1</p>
<a class="btn btn-warning" asp-area="" onclick="window.history.go(-1); return false;">确定</a>
